.button-background {
    text-decoration: none;
    color: blue;
    height: 50px;
    width: 170px;
    padding: 3px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 10px;

}

.button-light {
    height: 45px;
    width: 180px;
    border: none;
    border-radius: 20px;
    color: blue;
    font-size: 20px;
    padding: 5;
}

.button-light:hover {
    background-color: rgb(228, 214, 214);
}

.bg-color-footer {
    background-color: #0B0D17;
}



.footer-img {
    margin-left: 60%;
}

.google-play {
    width: 31%;
    margin-left: -10px;
}